<div class="container">
  <h2>Selectors</h2>

  <h3>Using different selectors</h3>
  <dojo-selector label="Component affect by custom name"></dojo-selector>
  <span class="app" label="Span affect by tag"></span>
  <div appBasic label="Div affect by attribute"></div>
  <button class="app" label="Button affect by class"></button>
  <!--  <p id="selector" label="P affect by id"></p>-->
  <!--  <div class="example" id="xpto">Div not affected</div>-->
</div>

<hr />

<div class="container">
  <h3>Input</h3>
  <dojo-input
    requiredString="Some random text"
    textWithTransform=" Text with some blank spaces  "
    [(checkedWithModel)]="checkedWithSignal"
  ></dojo-input>
  <dojo-input
    requiredString="Another text"
    [optionalNumber]="4"
    optionalTextWithDefaultValue="Hello there!"
    [(checkedWithModel)]="checkedWithSignal"
  ></dojo-input>
  <dojo-input
    requiredString="Last example"
    [(checkedWithModel)]="checkedWithSignal"
    [(checkedWithProp)]="checkedWithProp"
    (checkedWithPropChange)="loggerCheckedChange($event)"
  ></dojo-input>
</div>

<hr />

<div class="container">
  <h3>Output</h3>
  <dojo-output (toggled)="loggerToggleEvent($event)"></dojo-output>
</div>

<hr />

<div class="container">
  <h3>ng-content</h3>
  <dojo-content>
    <dojo-output (toggled)="loggerToggleEvent($event)"></dojo-output>
    <p content-body>This text will be rendered in the middle</p>
    <ng-container class="content-footer">
      This text will be rendered in the footer</ng-container
    >
  </dojo-content>

  <dojo-content>
    <!-- There is a way to break the rule, using ngProjectAs -->
    <p ngProjectAs="dojo-output">
      Hello! I'm not a dojo-output, but I'm fake it.
    </p>
  </dojo-content>
</div>
