<div class="container">
  <h1 class="font-bold">Angular Dojo</h1>
  <p>Master the art of Angular</p>
</div>


<hr>
<div class="container">
  <h2>Selectors</h2>
  <app-selector label="Component affect by custom name"></app-selector>
  <span class="app" label="Span affect by tag"></span>
  <div appBasic label="Div affect by attribute"></div>
  <button class="app" label="Button affect by class"></button>
  <p id="selector" label="P affect by id"></p>
  <div class="example" id="xpto">Div not affected</div>
</div>

